.itemContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
}

.camperImage {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infoHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
  width: 340px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceAndHeart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
}

.heartBtn {
  transition: transform 0.3s ease;
}

.heartBtn:hover {
  transform: scale(1.05);
}

.iconHeart {
  width: 26px;
  height: 24px;
}

.nextInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.reviewCont,
.locationCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.iconStar,
.iconMap {
  width: 16px;
  height: 16px;
}

.infoText {
  font-weight: 400;
  color: var(--main);
}

.reviewText {
  text-decoration: underline;
}

.description {
  width: 524px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  color: var(--text);
}

.btn {
  border-radius: 200px;
  padding: 16px 0;
  text-align: center;
  width: 166px;
  height: 56px;
  background-color: var(--button);
  letter-spacing: -0.01em;
  color: var(--white);
  transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s ease;
}

.btn:hover {
  background-color: var(--button-hover);
  transform: scale(1.02);
}
