.tabsContainer {
  height: 48px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 44px;
}

.tabButton {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.active {
  border-bottom: 5px solid var(--button-hover);
}
